
.indira-centerheader
{
    text-align: center;
    background-color: rgb(41, 41, 77);
}
.indira-profpic{
  border-radius:50%;  
}
.carousel-item {
  padding-top: 56px;
  height: 500px;
  text-align: center;
}

.item1 {
  padding-top: 70px;
  background-color:rgb(255, 51, 0);
  height: 200px;
}

.item2 {
  padding-top: 70px;
  background-color:rgb(9,238,9);
  height: 200px;
}

.item3 {
  padding-top: 70px;
  background-color:aqua;
  height: 200px;
}
body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cards {
    margin-top: 20px;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
 }
 .card1 {    
    min-height: 210px; 
    width:30%;
}
 .card2 {    
    min-height: 210px; 
    width:30%;
 }
 .card3 {    
    min-height: 210px; 
    width:30%; 
 }
 .cards2 {
    margin-top: 20px;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
 }
 .card21 {    
    min-height: 210px; 
    width:30%;
}
 .card22 {    
    min-height: 210px; 
    width:30%;
 }
 .card23 {    
    min-height: 210px; 
    width:30%; 
 }
 .cards3 {
    margin-top: 20px;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
 }
 .card31 {    
    min-height: 210px; 
    width:30%;
}
 .card32 {    
    min-height: 210px; 
    width:30%;
 }
 .card33 {    
    min-height: 210px; 
    width:30%; 
 }
.sec{
  color: black;
}
.edu{
  padding-top: 80px;
  text-align: left;
}
